select {
	cursor: pointer;
	appearance: none;          /* Remove estilo padrão (Chrome) */
	-webkit-appearance: none;  /* Safari */
	-moz-appearance: none;     /* Firefox */
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="%231abc9c" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}