.container {
    display: flex;
    height: 100vh;
}

.content {
	margin-left: 240px;
    padding: 40px;
    width: 100%;
    overflow-y: auto;
	transition: margin-left 0.3s;
}

.converter {
    display: none;
    height: calc(100vh - 80px);
    background-color: white;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    flex-direction: column;
    justify-content: space-between;
}

.converter.active {
    display: flex;
}

.converter-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.converter h2 {
    margin-bottom: 10px;
}

.converter input,
.converter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.double-select {
    display: flex;
    align-items: center;
    gap: 10px;
}

.double-select select {
    flex: 1;
}

.converter button {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.converter button:hover {
    background-color: #16a085;
}

.converter button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.converter p {
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.inverter-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 8px;
  height: 100%;
}

.inverter-btn:hover {
  background-color: #e0e0e0;
}